<%= render 'home_mailer/style_html_mailer/standard' %>
<body>
  <center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
        <td align="left" valign="top" id="bodyCell">

          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
            <tr>
              <td valign="top" id="templateHeader">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock" style="min-width:100%;">
                  <tbody class="mcnImageBlockOuter">
                    <tr>
                      <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer" style="min-width:100%;">
                          <tbody>
                            <tr>
                              <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0;">
                                <%= render "home_mailer/style_html_mailer/logo_header" %>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
                  <tbody class="mcnDividerBlockOuter">
                    <tr>
                      <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 35px 18px;">
                        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:1px;
                        border-top-style:solid;border-top-color:#5b4141;border-collapse:collapse">
                        <tbody>
                          <tr>
                            <td>
                              <span></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                <tbody class="mcnTextBlockOuter">
                  <tr>
                    <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                        <tbody>
                          <tr>

                            <td valign="top" class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;
                            color:#5b4141;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;">

                            <span>
                            <%= @user.first_name %>, приветствуем вас!
                          </span>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td valign="top" id="templateBody">
          <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
            <tbody class="mcnTextBlockOuter">
              <tr>
                <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                    <tbody>
                      <tr>

                        <td valign="top" class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;
                        color:#5b4141;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;">

                        <span>
                          Вы зарегистрированы в специальном проекте <%= $env_mode.name_title %> как участник пакета решений ADCONSULT в рамках вашей компании.
                          <br>
                          <br>
                          Именно здесь на протяжении всего 2017 года будут проходить вебинары и онлайн-конференция ADCONSULT.
                          <br>
                          <br>
                          Всего у нас с вами запланировано 9 вебинарных курсов по 3 вебинара каждый, которые пройдут с марта по ноябрь этого года. 
                          Онлайн-конференция «Cases & Faces» пройдет 9 ноября.
                          <br>
                          <br>
                          Также здесь у вас будет доступ к записям всех вебинаров — вы всегда сможете посмотреть его в оффлайне или скачать себе на компьютер.
                          <br>
                          <br>
                          Верим, что вы узнаете много всего нужного и полезного, а главное — станете продавать ваши всевозможные рекламные продукты больше, лучше, веселее и легче.

                        </span>

                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
          <tbody class="mcnDividerBlockOuter">
            <tr>
              <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 35px 18px;">
                <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:1px;
                border-top-style:solid;border-top-color:#5b4141;border-collapse:collapse">
                <tbody>
                  <tr>
                    <td>
                      <span></span>
                    </td>
                  </tr>
                </tbody>
              </table>

            </td>
          </tr>
        </tbody>
      </table>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
        <tbody class="mcnTextBlockOuter">
          <tr>
            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
              <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                <tbody>
                  <tr>

                    <td valign="top" class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;
                    color:#5b4141;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;">

                    <span>Вот ваши данные для доступа в систему ADCONSULT Network!</span>

                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>

                  <td valign="top" class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;
                  color:#5b4141;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;">

                  <br>
                  Ваш логин:<br>
                  <br>
                  <strong><%= @user.email %></strong><br>
                  <br>
                  Ваш пароль:<br>
                  <br>
                  <strong><%= @new_password %></strong><br>
                  <br>
                  Для входа в систему просто нажмите на эту кнопку:<br>
                  &nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock" style="min-width:100%;">
    <tbody class="mcnButtonBlockOuter">
      <tr>
        <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="left" class="mcnButtonBlockInner">
          <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border-radius: 0px;background-color: #EF8637;">
            <tbody>
              <tr>
                <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 14px; padding: 10px;">
                  <a class="mcnButton " title="ВХОД В <%= $env_mode.name_title %>" href="<%= @user.auth_url %>" target="_blank" style="font-weight: normal;letter-spacing: 1px;
                    line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">ВХОД
                    В <%= $env_mode.name_title %></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
<!--     <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
      <tbody class="mcnTextBlockOuter">
        <tr>
          <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
              <tbody>
                <tr>

                  <td valign="top" class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;
                  color:#5b4141;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;">

                  <br>
                  Если у вас что-то не будет получаться, не расстраивайтесь — наша <strong>служба поддержки </strong>будет счастлива помочь вам в любое время дня
                  и ночи (хотя мы будем признательны, если вы побережете ее до утра по московскому времени). Звоните смело — +7&nbsp;926&nbsp;973&nbsp;36&nbsp;23.
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table> -->


  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
    <tbody class="mcnTextBlockOuter">
      <tr>
        <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

          <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
            <tbody>
              <tr>

                <td valign="top" class="mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;
                color:#5b4141;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;">

                Остаемся на связи!!<br>
                  <br>
                  С теплотой,<br>
                  команда <%= $env_mode.name_title %>.
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock" style="min-width:100%;">
    <tbody class="mcnDividerBlockOuter">
      <tr>
        <td class="mcnDividerBlockInner" style="min-width: 100%; padding: 35px 18px;">
          <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:1px;
          border-top-style:solid;border-top-color:#5b4141;border-collapse:collapse">
          <tbody>
            <tr>
              <td>
                <span></span>
              </td>
            </tr>
          </tbody>
        </table>

      </td>
    </tr>
  </tbody>
</table>
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
  <tbody class="mcnTextBlockOuter">
    <tr>
      <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">

        <%= render "home_mailer/style_html_mailer/footer_info" %>

      </td>
    </tr>
  </tbody>
</table>
</td>
</tr>
<tr>
  <td valign="top" id="templateFooter"></td>
</tr>
</table>

</td>
</tr>
</table>
</center>
</body>
</html>