<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= layout_title %>
  </title>
  <%= render "layouts/favicon" %>
  <%= javascript_include_tag 'application' %>
  <meta property="og:image" content="/images/title_img.png"/>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=latin,cyrillic" rel="stylesheet">
  <link href="/assets/vendor/normalize.css" rel="stylesheet">
  <link href="/assets/application.css" rel="stylesheet">
  <link href="/assets/app.css" rel="stylesheet">
  <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
  <script src="//vjs.zencdn.net/4.12/video.js"></script>
  <%= render "layouts/pixel/facebook_pixel" if Rails.env.production? %>
  <%= render "layouts/pixel/facebook_pixel_profile" if (Rails.env.production? && (params[:action] == 'cabinet')) %>
</head>
<% websocket_url = "#{request.host}:#{request.port}/node/websocket" %>
<% if Rails.env.production? %>
    <% websocket_url = "#{request.host}:3001/node/websocket" %>
<% end %>

<body class="࿕" data-uri="<%= websocket_url %>" data-prod="<%= Rails.env.production? %>">
<%= yield %>
<div id="alert">
  <div class="text"></div>
  <div class="close">×</div>
</div>
<div class="js__backing"></div>
<% if params[:pay].present? %>
    <input id="notifyPayMessage" type="hidden" value="<%= params[:pay] %>">
<% end %>
<%= render "layouts/notification" %>

<% if (@course.paid? rescue true) %>
    <%= render "common/popup_request/request" %>
<% end %>
<% if params[:action] != "sign_up" && @block_registr != false %>
    <%= render "home/course_description/registration_webinar" %>
<% end %>
<%= render "layouts/pop_up_confirm" %>
<%= render "layouts/yandex_metrika" if Rails.env.production? %>
<%= render "layouts/zendesk_widget" if Rails.env.production? %>
<%= render "layouts/pixel/vkontakte_pixel" if Rails.env.production? %>
</body>
</html>
