<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= layout_title %>
  </title>
  <%= render "layouts/favicon" %>
  <%= javascript_include_tag 'application' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <% if @og.blank? %>
      <meta property="og:image" content="/images/title_img.png"/>
  <% end %>
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=latin,cyrillic" rel="stylesheet">
  <link href="/assets/vendor/normalize.css" rel="stylesheet">
  <link href="/assets/application.css" rel="stylesheet">
  <link href="/assets/app.css" rel="stylesheet">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"  onerror="window.adBlock=true"></script>
  <%= render "layouts/head_og" %>
  <%= render "layouts/fb" %>
  <!--<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">-->
  <!--<script src="//vjs.zencdn.net/4.12/video.js"></script>-->
</head>

<% if params[:dev] == "true" %>
    <style media="screen">
        * {
            background-color : rgba(0, 255, 0, 0.1);
        }
    </style>
<% end %>

<% if ((params[:controller] == 'makeup' && params[:action] == 'landing') || (params[:controller] == 'home' && params[:action] == 'index')) %>
    <% land_class = 'landing__page' %>
<% end %>
<% white_body = @white_body ? "background-color: #fff;" : "" %>
<body class="࿕ <%= land_class %>" data-uri="<%= websocket_url %>" data-prod="<%= $env_mode.prod? %>" style="<%= white_body %>">

<%= yield %>
<%= render "home/footer/ads" %>
<%= render "common/notify_news_aside" %>
<%= render "home/footer/footer" if page_footer %>

<div id="alert">
  <div class="text"></div>
  <div class="close">×</div>
</div>
<div class="js__backing"></div>

<% if params[:pay].present? %>
    <input id="notifyPayMessage" type="hidden" value="<%= params[:pay] %>">
<% end %>

<%= render "layouts/notification" %>

<%= render "layouts/pop_up_confirm" %>
<%= render "common/ads_popup" %>
<% if $env_mode.prod? %>
  <%= render "layouts/yandex_metrika" %>
  <%= render "layouts/users_helper" %>
  <%= render "layouts/pixel/vkontakte_pixel" %>
  <%= render "layouts/help_notif_user" %>
  <%= render "layouts/mailru" %>
<% end %>

<input id="presentCurrentUser" type="hidden" value="<%= current_user.present? rescue false %>">
<input id="typeEnvModeCurrentServer" type="hidden" value="<%= $env_mode.to_s %>">
<input id="typeEnvModeCurrentDomain" type="hidden" value="<%= $env_mode.current_domain %>">
<script>
</script>
</body>
</html>
